.socialLinksContainer {
  display: flex;
  gap: 8px;
}

.socialLinksContainer .socialButton{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  color: grey;
  outline: 2px solid #B4B4B4;
  transition: all 0.3s ease;

  &:hover {
    color: #4E7EF5;
    background-color: #eee;
    outline: 2px solid #4E7EF5;
  }
}

.icon {
  font-size: 30px;
}