.headerButtonsContainer {
    display: flex;
    pointer-events: none;
}

.circleButton {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 5px !important;
}

.redButton {
    background-color: #f66058;

    &:hover {
        background-color: #f66058;
    }
}

.yellowButton {
    background-color: #fbbd2e;

    &:hover {
        background-color: #fbbd2e;
    }
}

.greenButton {
    background-color: #45ca40;

    &:hover {
        background-color: #45ca40;
    }
}