@use '../../variables' as *;

.headerButtonsContainer {
    display: flex;
    pointer-events: none;
}

.circleButton {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 5px !important;
}

.redButton {
    background-color: $red !important;

    &:hover {
        background-color: $red !important;
    }
}

.yellowButton {
    background-color: $yellow !important;

    &:hover {
        background-color: $yellow !important;
    }
}

.greenButton {
    background-color: $green !important;

    &:hover {
        background-color: $green !important;
    }
}