@use '../../variables' as *;

.cardContainer {
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    opacity: 0.9;
}

.cardHeader {
    background-color: $blue;
    border-bottom: 2px solid #3366CC;
}

.grid {
    padding: 45px;
    background-color: rgba(255, 255, 255, 0.7);

    .avatar {
        width: 130px;
        height: 130px;
        margin-bottom: 3px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        position: relative;
        transform: scale(1.05);
    }
}

.typography {
    font-family: "Montserrat", sans-serif !important;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 25px;
}